.section-compra_segura {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 2rem;
    color: var(--color-gray);
}

.section-compra_segura h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-white);
    font-weight: var(--subtitle-wieght);
    font-size: var(--subtitle-size);
}

.section-compra_segura h2 span {
    color: var(--color-primary);
    font-weight: 600;
}

.compra-segura_cards {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.card-compra-segura {
    margin-top: 1rem;
}

.card-compra-segura span {
    font-size: 3rem;
    color: var(--color-secondary);
}

.card-compra-segura h3 {
    font-size: .9rem;
    margin-bottom: 1rem;
}

.card-compra-segura p {
    font-size: .8rem;
    width: 80%;
    margin: auto;
}

.compra-segura_politica {
    margin: auto;
    width: 90%;
    border-radius: 15px;
    padding: .5rem;
}

.compra-segura_politica p {
    font-size: .6rem;
    text-align: center;

}

.compra-segura_politica p span {
    font-weight: 500;
    color: var(--color-white);
}

@media (min-width: 700px) {
    .card-compra-segura{
        width: 30%;
    }

    .card-compra-segura span{
        font-size: 5rem;
    }
}