.section-compra {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    /* background-color: var(--color-orange); */
    background-color: linear-gradient(135deg, #1a1a1a, #0d0d0d);
    color: var(--color-gray);
    /* text-align: center; */
}

.container-compra {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    padding: 2rem;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.3);
    /* background-color: var(--color-black); */
    border-radius: 10px;
}

.container-compra__title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 2rem;
    width: 100%;
}

.container-compra__title > h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    color: var(--color-white);
    font-family: "Oswald", sans-serif;
}

.container-compra__title> p {
    font-size: 1.2rem;
    /* max-width: 600px; */
    color: var(--color-gray);
}

.container-compra__title> p > span {
    color: var(--color-secondary);
    font-weight: bold;
}


.container-compra__content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    /* width: 100%; */
}

.container-compra__content__img > img {
    max-width: 140px;
    height: auto;
    border-radius: 10px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
    /* margin-bottom: 20px; */
}

.container-compra__content__img img:hover {
  transform: scale(1.05);
}

.container-compra__content__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.container-compra__content__info__text {
    max-width: 600px;
    text-align: center;
}

.container-compra__content__info__text>.first-paragraph {
    font-size: 1rem;
    margin-bottom: 10px;
}

.container-compra__content__info__text>.second-paragraph {
    font-size: .8rem;
    margin-bottom: 20px;
    color: var(--color-white);
}

.container-compra__content__info__text > h3 {
    /* font-size: 1.8rem;
    margin-bottom: 10px;
    font-weight: 400;
    color: var(--color-white); */
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    color: var(--color-white);
}

.container-compra__content__info__text>.price-f,
.container-compra__content__info__text>.price-d {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.container-compra__content__info__text>.price-f>span,
.container-compra__content__info__text>.price-d>span {
    color: var(--color-gray);
    font-weight: bold;
}

.container-compra__content__info__text>.price-f,
.container-compra__content__info__text>.price-d {
    color: var(--color-secondary);
}

.container-compra__content__info__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
}

.button-c,
.button-d {
    display: inline-block;
    color: var(--color-white);
    /* padding: 10px 20px; */
    padding: 0.8rem 1.2rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    /* transition: background-color 0.3s ease; */
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    width: 100%;
    cursor: pointer;
    text-align: center;
}

.button-c {
    /* background-color: var(--color-primary); */
    background: linear-gradient(135deg, #ff6600, #ff3300);
}

.button-d {
    border: 1px solid var(--color-secondary);
    background: transparent;
}

.button-c:hover, .button-d:active, .button-d:hover {
    background: linear-gradient(135deg, #f8883e, #f7552d);
    box-shadow: 0 6px 20px rgba(255, 80, 0, 0.6);
}


/*REACT BITS*/

.glare-hover {
  width: var(--gh-width);
  height: var(--gh-height);
  background: var(--gh-bg);
  border-radius: var(--gh-br);
  border: 1px solid var(--gh-border);
  overflow: hidden;
  position: relative;
  display: grid;
  place-items: center;
}

.glare-hover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--gh-angle),
      hsla(0, 0%, 0%, 0) 60%,
      var(--gh-rgba) 70%,
      hsla(0, 0%, 0%, 0),
      hsla(0, 0%, 0%, 0) 100%);
  transition: var(--gh-duration) ease;
  background-size: var(--gh-size) var(--gh-size), 100% 100%;
  background-repeat: no-repeat;
  background-position: -100% -100%, 0 0;
}

.glare-hover:hover {
  cursor: pointer;
}

.glare-hover:hover::before {
  background-position: 100% 100%, 0 0;
}

.glare-hover--play-once::before {
  transition: none;
}

.glare-hover--play-once:hover::before {
  transition: var(--gh-duration) ease;
  background-position: 100% 100%, 0 0;
}


@media (min-width: 700px) {

    .container-compra__content {
        gap: 0;
    }

    .container-compra__title>h2 {
        font-size: 2rem;
    }

    .container-compra__title>p {
        font-size: 1rem;
    }

    .container-compra__content__img {
        width: 50%;
    }

    .container-compra__content__img img {
        max-width: 90%;
    }

    .container-compra__content__info {
        width: 50%;
        height: 100%;
        justify-content: space-between;
        padding: 1rem;
    }

    .container-compra__content__info__text {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 100%;
    }

}


@media (min-width: 1080px) {
    .section-compra{
        width: 50%;
    }

    .container-compra__content__img img {
        max-width: 100%;
    }
}