.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background: var(--color-fondo);
    padding: 2rem;
    border-radius: 8px;
    text-align: center;
    max-width: 400px;
    width: 90%;
    overflow-y: auto;
}

.modal-content h2{
    color: var(--color-secondary);
    margin-bottom: 1rem;
}


.modal-content p span{
    font-weight: 600;
}

.modal-content p{
    margin-bottom: 10px;
}

.modal-content button, .modal-content a {
    display: inline-block;
    width: 100%;
    margin-top: 1rem;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

.modal-content a{
    background-color: var(--color-primary);
    color: var(--color-white);
}

.modal-content button{
    background-color: transparent;
    color: var(--color-white);
    border: solid 1px var(--color-white);
}


.modal-content button:hover, .modal-content a:hover {
    background-color: var(--color-secondary);
}