.curved-loop-jacket {
  min-height: 2vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.curved-loop-svg {
  user-select: none;
  width: 100%;
  aspect-ratio: 100 / 12;
  overflow: visible;
  display: block;
  font-size: 3rem;
  fill: #ffffff;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}


/* @media (min-width: 700px) {
    .curved-loop-jacket{
        height: 6svh;
    }
} */