.footer{
    background-color: var(--color-fondo-second);
    color: var(--color-white);
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
}


.footer-contact h3, .footer-contact_redes h3, .footer-copy h3{
    font-size: 1rem;
    margin: 1.5rem 0;
}

.footer-contact_contact p, .footer-contact_redes ul li, .footer-copy_copy p, .footer-copy p{
    font-size: .8rem ;
    margin: .5rem;
    list-style: none;
}

.footer-contact_redes ul{
    display: flex;
    flex-wrap: wrap;
}


.footer-contact_redes ul li a, .footer-copy_copy p{
    text-decoration: none;
    color: var(--color-orange);

}

