.tabla-precios {
  width: 100%;
  color: var(--color-white);
}

.tabla-precios h2 {
    text-align: center;
    margin-bottom: 1rem;
    color: var(--color-white);
    font-weight: var(--subtitle-wieght);
    font-size: var(--subtitle-size);
}

.tabla-precios h2 span{
    color: var(--color-primary);
}

.tabla-precios table {
    width: 80%;
    margin: 0 auto;
    border: 1px solid var(--color-gray-suave);
    font-size: .8rem;
}

.tabla-precios tr {
    border: 1px solid var(--color-black);
}

.tabla-precios-titulos, .tabla-extras, .tabla-envio {
    background-color: #333;
}

.tabla-precios th, .tabla-precios td {
    padding: 10px;
    text-align: left;
}

.tabla-precios td {
    color: var(--color-gray);
}


.tabla-precios span{
    color: var(--color-secondary);
    font-weight: 600;
}


@media (min-width: 1080px) {
    .tabla-precios table{
        width: 45%;
    }
}