*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    background-color: #1F1F1E;
}




@media (min-width: 700px) {
    .main{
        display: flex;
        flex-wrap: wrap;
    }
}

@media (max-width: 1080px) {

}

