:root{
    --color-primary: #f36508;
    --color-secondary: #fe9c20;
    --color-background: #f5f5f5;
    --color-white: #ffffff;
    --color-black: #000000;
    --color-fondo: #1F1F1E;
    --color-fondo-second: #292C32;
    --color-gray-suave: #858585;
    --subtitle-size: 1.5rem;
    --subtitle-weight: 400;
    --color-gray: #D4D4D1;
    --color-orange: #FFBC8F;
    --color-words: #F3F3F2;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}